.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .content1{
        display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    span{
        color: #A18A68;
    }
p{
    color: #000000;
}
    }
}

