
.reset-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;
    gap: 30px;
}

.reset-section .forgot{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.forgot h1{
    font-size: 33px;
    font-weight: 500px;
}

/* .reset-section .mail-id p{
     color: #707070;

} */

.reset-section .mail-id{
    width: 25em;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 28em;
    border: none;
    outline: none;
    border-bottom: 3px solid #D8D8D8;
    padding-bottom: 15px;
}


.reset-section button{
    width: 400px;
    height: 45px;
    background-color: #080808;
    outline: none;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 16px;
    color: white;

}